#experience-box{
    width: 411px;
    height: 359px;
    background-color: #F0F0F0;
    gap: 16px;
}

#job-list{
    gap: 10px
}

.job {
    width: 371px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
}

.job-top-bar {
    display: flex;
    justify-content: space-between;
}

.job-content {
    display: flex;
    gap: 8px;
}

.job-info {
    width: 124px;
}

.about-job {
    width: 124px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}