#languages-box{
    width: 267px;
    height: 124px;
    background-color: #F0F0F0;
}

#languages-list{
    margin-top: 16px;
    gap: 10px;
}

.language-level{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    gap: 16px;
}

.progress-bar {
    width: 168px;
    height: 11px;
    border-radius: 3px;
    position: relative;
    background: #28D979;
    right: 0;
}