:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#resume{
    min-height: 842px;
    max-width: 595px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#resume-container {
    max-width: 555px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 15px;
    gap: 20px;
    overflow: hidden;
}

.box{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px;
    position: relative;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

#download-button{
    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    background: #28d779;
    border-radius: 10px;
    padding: 1px 8px;
    left: 50%;
    transform: translate(-50%, -5%);
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(40, 215, 121, 0.65);
}

#download-button:hover{
    box-shadow: 0 0 15px rgba(40, 215, 121, 100%);
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(99, 255, 171, 0.5);
    transform: scale(0);
    animation: ripple-animation 0.4s linear;
}

@keyframes ripple-animation {
    to {
        transform: scale(2);
        opacity: 0;
    }
}