:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#resume{
    min-height: 842px;
    max-width: 595px;
    margin: 25px auto;
    background-color: white;
}

#resume-container {
    max-width: 555px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 15px;
    gap: 20px;
    overflow: hidden;
}

.box{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}