:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#resume {
    min-height: 842px;
    max-width: 595px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#resume__container {
    max-width: 555px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 15px;
    gap: 20px;
    overflow: hidden;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px;
    position: relative;
    background-color: #F0F0F0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#avatar,
#name-box{
    width: 124px;
    height: 124px;
}

#avatar{
    background-image: url("../assets/images/avatar.png");
    background-size: cover;
}

#name-box{
    justify-content: space-between;
}

#info {
    gap: 6px;
}

#languages-box{
    width: 267px;
    height: 124px;
}

#languages-list{
    margin-top: 16px;
    gap: 10px;
}

.language__level{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    gap: 16px;
}

.progress-bar {
    width: 168px;
    height: 11px;
    border-radius: 3px;
    position: relative;
    background: #28D979;
}

#experience-box{
    width: 411px;
    height: 359px;
    background-color: #F0F0F0;
    gap: 16px;
}

#job-list{
    gap: 10px
}

.job {
    width: 371px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
}

.job__top-bar {
    display: flex;
    justify-content: space-between;
}

.job__content {
    display: flex;
    gap: 8px;
}

.job__info {
    width: 124px;
}

.about-job {
    width: 124px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#tools-box{
    width: 124px;
    height: 359px;
    background-color: #F0F0F0;
}

.frame {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 12px;
}

.type-tool {
    display: flex;
    justify-content: center;
}

.tools-list {
    width: 68px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 6px;
    gap: 14.5px;
    padding: 16px 4px 16px 4px;
    background-color: #FFFFFF;
}

#education-box{
    display: flex;
    flex-direction: column;
    width: 268px;
    height: 289px;
    gap: 16px;
    background-color: #F0F0F0;
}

#education__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.education__column {
    display: flex;
    flex-direction: column;
    max-width: 116px;
    gap: 12px;
}

#second-column {
    gap: 12px;
}

.education {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 8px;
    gap: 6.5px;
    background-color: #FFFFFF;
}

#education-tag {
    width: 11px;
    height: 10px;
    background-size: cover;
}

.education__info {
    display: flex;
    flex-direction: column;
}

.education__hashtags{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.education__top-bar {
    display: flex;
    justify-content: space-between;
}

#interest-box{
    width: 267px;
    height: 177px;
    background-color: #F0F0F0;
    gap: 16px;
}

#interests{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#contact{
    width: 267px;
    height: 92px;
    background-color: #000000;
    justify-content: space-between;
    gap: 8px;
}

#contact-title {
    display: flex;
    gap: 2px;
}

#mail {
    display: flex;
    gap: 8px;
}

#download-button,
#reset-button {
    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    background: #28d779;
    border-radius: 10px;
    padding: 1px 8px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(40, 215, 121, 0.65);
}

#download-button:hover,
#reset-button:hover{
    box-shadow: 0 0 15px rgba(40, 215, 121, 100%);
}

#row-buttons {
    position: relative;
    bottom: 5px;
    justify-content: center;
    gap: 8px;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(99, 255, 171, 0.5);
    transform: scale(0);
    animation: ripple-animation 0.4s linear;
}

@keyframes ripple-animation {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.editor {
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.editor:after{
    opacity: 50%;
}

.hidden {
    display: none;
}

.editor-content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#input-text {
    width: 200px;
    height: 30px;
    font-size: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#save-button,
#close-button {
    width: 80px;
    height: 25px;
    background-color: #28d779;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#close-button {
    background-color: #de4a40;
}