@font-face {
    font-family: "Poppins-Medium";
    src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

p,h1,h2 {
    font-family: "Poppins-Medium", sans-serif;
    width: fit-content;
    color: #000000;
    margin: 0;
    cursor: pointer;
}

p:hover,
h1:hover,
h2:hover{
    scale: 1.025;
}

h1 {
    font-size: 14px;
    line-height: 21px;
}

h2 {
    font-size: 10px;
    line-height: 15px;
}

#greeting{
    width: fit-content;
    height: fit-content;
    font-size: 10px;
    line-height: 15px;
}

#name {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 15px;
}

#profession{
    font-size: 12px;
    line-height: 18px;
    color: #5C5C5C;
}

.language-name {
    font-size: 10px;
    line-height: 10px;
}

.job-date {
    font-size: 8px;
    line-height: 12px;
    text-align: center;
}

#experience-tag {
    font-size: 8px;
    line-height: 12px;
    color: #DDF163;
    border-radius: 59px;
    background: #7E731266;
    padding: 2px 6px;
}

.delimiter {
    font-size: 8px;
    line-height: 12px;
    text-align: center;
}

.company-name {
    font-size: 8px;
    line-height: 12px;
    text-align: center;
}

.position {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
}

.points {
    display: flex;
    flex-direction: row;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 8px;
    line-height: 12px
}

.points::before {
    content: "•⠀";
}

.tool-tag {
    font-size: 5px;
    line-height: 7px;
    padding: 2px 6px 2px 6px;
    position: absolute;
    transform: translateY(-50%);
    color: #FFFFFF;
    background: #000000;
    border-radius: 59px;
}

.education-hashtag {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 8px;
    line-height: 12px;
    color: #149063;
}

.school-name {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 8px;
    line-height: 12px;
}

.interest {
    font-family: "Poppins-Regular", sans-serif;
    width: fit-content;
    height: fit-content;
    font-size: 10px;
    line-height: 15px;
    padding: 4px 10px 4px 10px;
    background: #FFFFFF;
    border-radius: 40px;
}

#contact-title-text {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

#mail-text {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
}

.blinking {
    animation: blink 2s linear infinite;
    scale: 1.025;
    color: #de4a40;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

.text-changing {
    animation: scaling 2.1s linear;
}

@keyframes scaling {
    0% {
        scale: 1;
    }
    33% {
        scale: 1.04;
    }
    66% {
        scale: 0.97;
    }
    100% {
        scale: 1;
    }
}