#tools-box{
    width: 124px;
    height: 359px;
    background-color: #F0F0F0;
}

.frame {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 12px;
}

.type-tool {
    display: flex;
    justify-content: center;
}

.tools-list {
    width: 68px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 6px;
    gap: 14.5px;
    padding: 16px 4px 16px 4px;
    background-color: #FFFFFF;
}
